table td.row-operations {
  min-width: 60px;
  position: relative;
}

div.ctools-button-processed {
  background-image: linear-gradient(-90deg, #FFF 0px, #F9F9F9 100%);
  border-radius: 11px;
}

div.ctools-dropbutton-processed {
  top: 8px;
  position: absolute;
}

div.ctools-button-processed {
  background-color: #FFF;
  border-color: #CCC;
  font-size: 11px;
  padding-bottom: 2px;
  padding-top: 2px;
}

div.ctools-dropbutton-processed .ctools-link {
  border-left: 1px solid #FFF;
}

div.ctools-dropbutton-processed .ctools-content {
  border-right: 1px solid #E8E8E8;
}

div.ctools-button-processed .ctools-content {
  padding-bottom: 0px;
  padding-top: 0px;
}

div.ctools-dropbutton-processed .ctools-content ul {
  margin: 0px;
  padding: 0px;
}

div.ctools-button-processed .ctools-content a {
  background-image: none;
  border: medium none;
}

div.ctools-dropbutton-processed li a, .ctools-dropbutton-processed li input {
  padding-right: 9px;
}





.devgen-output-container {
  border: 1px solid #ccc;
}

.devgen-output-container > ul.devgen-output,
.devgen-output-container > ul.devgen-output ul {
  border-left: 1px solid #999;
  /*display: none;*/
  list-style: none;
  margin-bottom: 1px;
  margin-left: 15px;
  margin-top: 1px;
}

.devgen-output-container > ul.devgen-output {
  margin: 0;
}

.devgen-output-container ul li {
  margin-bottom: 1px;
}

.devgen-output-container ul li:last-child {
  margin-bottom: 0;
}

.devgen-output-container ul > li > span.devgen-msg-time {
  width: 65px;
  display: inline-block;
  background: rgba(0,0,0,0.4);
  text-align: center;
  float: left;
  font-weight: bold;
  color: #eee;
}

.devgen-output-container ul > li > span.devgen-msg {
  display: block;
  margin-left: 65px;
  padding-left: 10px;
}

.devgen-output-container ul > li.devgen-output-status--passed > span.devgen-msg {
  background: rgba(0, 255, 0, 0.2);
  color: green;
}

.devgen-output-container ul > li.devgen-output-status--failed  > span.devgen-msg {
  background: rgba(255, 0, 0, 0.2);
  color: darkred;
}

.devgen-output-container ul > li.devgen-output-status--error > span.devgen-msg {
  background: rgba(255, 0, 0, 0.4);
  color: darkred;
  font-weight: bold;
}

#container-tasks-cards {
  border: 1px dotted #333;
  height: 450px;
  overflow: auto;
  position: relative;
  width: 100%;
}

#container-tasks-cards-sheet {
  height: 5000px;
  left: 0;
  position: relative;
  top: 0;
  width: 5000px;
}

#container-tasks-cards-sheet .task-card {
  background: #fff;
  border: 3px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  min-width: 250px;
  position: absolute;
  text-align: center;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  visibility: visible;
  width: 250px;
  z-index: 20;
}

#container-tasks-cards-sheet .task-card > span {
  display: block;
}

#container-tasks-cards-sheet .task-card-core {
  background: rgba(255, 208, 255, 0.7);
  border-color: #faf;
  font-weight: 700;
}

#container-tasks-cards-sheet .task-card-action {
  background: rgba(238, 238, 255, 0.7);
  border-color: #ccf;
}

#container-tasks-cards-sheet .task-card-condition {
  background: rgba(255, 238, 238, 0.7);
  border-color: #fcc;
}

#container-tasks-cards ._jsPlumb_endpoint {
  z-index: 25;
}

#container-tasks-cards ._jsPlumb_connector {
  z-index: 19;
}

.task-label {
  background: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  padding: 2px 5px;
  z-index: 23;
}

#container-tasks > .task-container.devgenui-popup > fieldset > .fieldset-wrapper {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.4);
  display: block !important;
  height: 90%;
  left: 10%;
  overflow: auto;
  position: fixed;
  top: 5%;
  visibility: visible !important;
  width: 80%;
  z-index: 99999;
}

#container-tasks .overlay {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  content: "";
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 990;
}
